<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/edit.css">
</head>

<body>
    <div class="container">
        <header>
            <span class="back">back</span>
            <span><%=mas%></span>
            <span class="del"><%=mas=="编辑地址"?"删除":""%></span>
        </header>
        <main>
            <% if(code){ %>

            <div class="one">
                <span>姓名</span><input type="text" value="<%=newData.name %>" name="name">
            </div>
            <div class="one sex">
                <span class=<%=newData.sex==0?"active" :""%>>女士</span><span class=<%=newData.sex==1?"active" :""%>>先生</span>
            </div>
            <div class="one">
                <span>电话</span><input type="text" value="<%=newData.phone %>" name="phone">
            </div>
            <div class="one">
                <span>地址</span><input type="text" value="<%=newData.title %>" name="title">
            </div>
            <div class="one">
                <span>门牌号</span><input type="text" value="<%=newData.info %>" name="info">
            </div>
            <div class="one">
                <button  class="submit">
                    确定
                </button>
            </div>
            <% }else{newData} %>
        </main>
    </div>
    <script src="/js/axios.js"></script>
    <script src="/js/edit.js"></script>
    <script>
        new Edit()
    </script>
</body>

</html>