<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <div class="container">
        <header>
            <span>back</span><span><%=title%></span><span class="addbtn">新增地址</span>
        </header>
        <main>
            <div class="list">
                <% data.forEach(item=>{%>
                <div class="item">
                    <div class="one">
                        <%=item.title%>
                    </div>
                    <div class="one">
                        <%=item.name%>
                    </div>
                    <div class="one">
                        <%=item.sex==1?"男":"女"%>
                    </div>
                    <div class="one">
                        <%=item.info%>
                    </div>
                    <div class="one">
                        <%=item.phone%>
                    </div>
                    <div class="one">
                        <button class="editbtn">编辑</button>
                    </div>
                </div>
                <%})%>
            </div>
        </main>
        <footer></footer>
    </div>
    <script src="/js/axios.js"></script>
    <script src="/js/home.js"></script>
    <script>
    
    new Skip()
    </script>
</body>

</html>